/*CSS codes*/
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

*{
    margin: 0;
    font-family: 'Titan One', cursive;
}

body{
    background-color: #928584;
}
nav,
footer{
    background-color: #fff;
}

a{
    text-decoration: none;
    font-size: 1.5em;
}

h1,
h2,
h3{
    letter-spacing: 0.1em;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}
.nav-link{
    margin: 0 0.4em;
    padding: 0.2em;
    transition: all ease-in-out 0.5s;
}
.nav-link:hover
{
    background-color: #8f7383;
    color: #fff;
}